{% extends 'layouts/app.html' %} 
{% block title %} Home Page {% endblock %} 
{% block app_content %} 
Lorem ipsum dolor sit amet consectetur adipisicing elit.
Nesciunt voluptate ducimus, expedita amet a recusandae reiciendis autem eveniet
veritatis eaque rerum vel dicta laudantium qui culpa, nihil assumenda nobis
libero asperiores corporis repellat. Perferendis maiores molestiae eos sapiente
accusamus nam, magni consequuntur quaerat labore ab dicta blanditiis aliquam,
possimus ipsa. 
{% endblock %}
