{% extends "crud/base.html" %}

{% block title %}
  Edit | {{ todo }}
{% endblock title %}

{% block content %}
<div class="col-md-8">
    <div class="d-flex justify-content-between">
        <div>
            <h2>Edit a Todo</h2>
        </div>
        <div class="align-self-center">
            <a href="{% url 'crud.index'%}" class="btn btn-sm btn-success">Back</a> 
        </div>
    </div>
    <hr>
    <form action="{% url 'crud.update' todo.id%}" method="post">
        {% csrf_token %}
        <div class="form-group my-3">
            <input type="text" class="form-control" name="title" placeholder="Enter New title" value="{{ todo.title }}">
        </div>
        <div class="form-group my-3">
            <input type="file" class="form-control" name="image">
        </div>
        <div class="form-group my-3">
            <label for="">Active</label>
            <input type="radio"  name="is_active" value="1" {% if todo.status %}
            checked
            {% endif %}>
             | 
            <label for="">In Active</label>
            <input type="radio" name="is_active" value="0" {% if not todo.status %}
            checked
          {% endif %}>
        </div>
        <div class="my-3">
            <button class="btn btn-success btn-block">Update</button>
        </div>
    </form>
</div>
{% endblock content %}
