{% extends "crud/base.html" %}

{% block title %}
  All Todo
{% endblock title %}

{% block content %}
<div class="col-md-8">
    <div class="d-flex justify-content-between">
        <div>
            <h2>Manage All Todo</h2>
        </div>
        <div class="align-self-center">
            <a href="{% url 'crud.create' %}" class="btn btn-sm btn-success">Add New Todo</a> 
        </div>
    </div>
    <hr>
    <table class="table table-bordered text-center">
        <tr class="table-heading">
            <th>SL</th>
            <th>Title</th>
            <th>Image</th>
            <th>Status</th>
            <th>Time</th>
            <th>Actions</th>
        </tr>
        {% for todo in todos %}  
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ todo.title }}</td>
            <td><img src="" alt=""></td>
            <td>{{ todo.status }}</td>
            <td>{{ todo.created_at }}</td>
            <td>
                <a href="{% url 'crud.view' todo.id %}" class="btn btn-sm btn-success">View</a>
                <a href="{% url 'crud.edit' todo.id %}"  class="btn btn-sm btn-info">Edit</a>
                <a href="{% url 'crud.delete' todo.id %}" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}
